[*.cs]

# IDE0022: Use expression body for methods
csharp_style_expression_bodied_methods = when_on_single_line:suggestion

# IDE0053: Use expression body for lambda expressions
csharp_style_expression_bodied_lambdas = true:suggestion

# IDE0044: Make field readonly
dotnet_diagnostic.IDE0044.severity = warning

# IDE0052: Private member can be removed as it is never used
dotnet_diagnostic.IDE0052.severity = warning
